body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#img_container {
    display: flex;
    gap: 10px;
}

#img_container img {
    width: 200px;
    transition: opacity 0.5s ease-in-out; 
}

#img_container img:hover {
    opacity: 0.3; 
}
